button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

button{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  ring: none !important;
  _active: {
    outline: none !important;
    border: none !important;
    ring: none !important;
  }
}
